* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-primary: #fdf2d6;
    --color-secondary: #2d2825;
    --color-accent: #fdbb89;
    --color-background: #dcc3b0;
    --color-text: #3c3734;
  }

.logo {
    height: 40px;
}

.navbar.bg-dark {
    background-color: transparent !important; 
  }

  .navbar.bg-dark .nav-link {
    color: black !important; 
  }
  
  .navbar.bg-dark .nav-link:hover {
    color: var(--color-primary) !important; 
  }


  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('C:/Users/andre/Desktop/Bakery-Website/images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 600px;
    padding: 20px;
}

.hero-content h1, .hero-content p, .hero-content a {
    z-index: 2;
    position: relative;
}

.hero-content .btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

@media (min-width: 768px) {
  .navbar-nav {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .navbar-nav .nav-item {
    flex: 0; 
    margin-left: 10px; 
    margin-right: 10px; 
    text-align: center;
}

  .navbar-nav .nav-link {
      display: inline-block;
  }
}