/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #fdf2d6;
  --color-secondary: #fb8a7c;
  --color-accent: #fdbb89;
  --color-background: #dcc3b0;
  --color-text: #3c3734;
}

/* home page */
.hero .logo {
  height: 100px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}
.navbar.bg-dark {
  background-color: transparent !important;
}
.nav-item .nav-link {
  color: white !important;
}

.nav-item .btn-secondary {
  background-color: var(--color-accent) !important;
  border-color: var(--color-accent) !important;
  color: white !important;
}

.nav-item .btn-secondary:hover {
  background-color: transparent !important;
  border-color: var(--color-secondary) !important;
  color: white !important;
}
.nav-item .nav-link:hover {
  color: var(--color-secondary) !important;
}
nav .navbar-toggler {
  color: white;
}
.navbar-toggler {
  border-color: white; /* Changes the border color to white*/
}
nav .navbar-toggler-icon {
  filter: invert(1) !important; /* Turns the icon to white */
  border: white !important;
}
.navbar-collapse {
  position: relative;
  width: 100%;
  z-index: 10;
}

.navbar-collapse.show {
  display: block;
  padding-bottom: 10px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust opacity and color for easier readability*/
  z-index: 1; /* Ensures it’s behind hero content */
}
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("images/hero-image.jpg") no-repeat center center;
  background-size: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 600px;
  padding: 20px;
  margin-top: 25px;
}

.hero-content h1,
.hero-content p,
.hero-content a {
  z-index: 2;
  position: relative;
}

.hero-content .btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-text) !important;
}
.hero-content .btn-primary:hover {
  background-color: transparent !important;
  border-color: var(--color-secondary) !important;
  color: white !important;
}

/* Products */
nav .logo {
  height: 100px;
}
.products-nav .navbar-toggler {
  color: var(--color-text);
}
.products-nav .navbar-toggler {
  border-color: var(--color-text); /* Changes the border color to gray*/
}
.products-nav .navbar-toggler-icon {
  border: var(--color-text) !important;
}

.products-nav .nav-item .nav-link {
  color: var(--color-text) !important;
}
.products-nav .nav-item .nav-link:hover {
  color: var(--color-secondary) !important;
}
.products-nav .nav-item .btn-secondary:hover {
  background-color: transparent !important;
  border-color: var(--color-secondary) !important;
  color: var(--color-text) !important;
}
.products-main {
  margin-top: 150px !important;
}

.breads-banner {
  background-image: url("images/breads-banner.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: white;
  position: relative;
  margin-top: 250px;
}

.breads-banner h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.breads-banner p {
  font-size: 1.2em;
}

.card img {
  height: 200px;
  object-fit: cover;
}
.products .btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-text) !important;
}
.products .btn-primary:hover {
  background-color: transparent !important;
  border-color: var(--color-secondary) !important;
  color: var(--color-text) !important;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Catering Form Page */
   .form-container {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-spacing {
    padding-top: 100px; 
  }
  .catering .btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: var(--color-text) !important;
  }
  .catering .btn-primary:hover {
    background-color: transparent !important;
    border-color: var(--color-secondary) !important;
    color: var(--color-text) !important;
  }

/* footer */
footer .logo {
  height: 50px;
}

footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .business-content {
  justify-content: flex-start; 
  align-items: center; 
  gap: 20px; 
}

@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    justify-content: flex-end; 
    width: auto;
    margin-left: auto;
  }

  .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .breads-banner h2 {
    font-size: 1.5rem;
  }
  .breads-banner p {
    font-size: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .address {
    font-size: 0.8rem;
  }
  footer .hours {
    font-size: 0.8rem;
  }
  footer ul {
    margin-bottom: 8px;
  }

  footer span {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
